@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Modro Seguros</h1>
    <p class="lead">O projeto “Seguradora” visa resolver o problema que o sr Nilson Modro possui quando necessita gerenciar seus negócios quanto a atividade de corretor de seguros. O projeto visa então criar um software que permita ao corretor cadastrar clientes, objetos e propostas de seguros; de forma que seja possível o envio destas via e-mail e acompanhar o prazo de vencimento do contrato, permitindo facilitar a tarefa de renovação. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alex Michelon</h2>
        <p>
            Gerente de projetos de alta complexidade
        </p>
    </div>
    <div class="col-md-4">
        <h2>Leandro Vilson Batisti</h2>
        <p>Arquiteto de software</p>
    </div>
    <div class="col-md-4">
        <h2>Ricardo Voigt</h2>
        <p>Analista de Sistemas</p>
    </div>
</div>